<div class="container" id="register">
		<div class="row">
			<div class="col-md-12 text-center">

			</div>
			<div class="col-md-12 text-center">
				<hr>
			</div>

			<div class="col-md-6 text-center catch">
				<h2>Search Job Hunters</h2><hr>
				<p class="lead">It's easy with JobXHunter !</p>
			</div>

			<div class="col-md-6 text-center">
				<h2 class="bold">Register !</h2><br/>
				<form role="form" id="register-form" ng-submit="register(new_user)" ng-controller="userController" >
					<div class="form-group">
						<label for="firstname" class="text-left">First name:</label>
						<input type="text" class="form-control" placeholder="first name" id="firstname" ng-model="new_user.firstname"/>
					</div>
					<div class="form-group">
						<label for="lastname" class="text-left">Last name:</label>
						<input type="text" class="form-control" placeholder="last name" id="lastname" ng-model="new_user.lastname" />
					</div>
					<div class="form-group">
						<label for="email" class="text-left">Email:</label>
						<input type="email" class="form-control" placeholder="email..." id="email" ng-model="new_user.email" ng-model="new_user.email" />
					</div>
					<div class="form-group">
						<label for="password" class="text-left">Password:</label>
						<input type="password" class="form-control" placeholder="password" id="password" ng-model="new_user.password"/>
					</div>
					<label for="role" class="text-left">role:</label>
					<select class="form-control" id="role" ng-model="new_user.role" >
  						<option value="1">I'm a Job Hunter</option>
						<option value="2">I'm a Head Hunter</option>
					</select>
					<br/>
					<div class="input-group center-block">
						<input id ="mainregbutton" type="submit" value="register now !" class="btn btn-success btn-lg"/>
					</div>
				</form>
			</div>

			<div class="col-md-12 text-center">
				<hr>
			</div>

		</div>
</div>

<div class="container-fluid main">
		<div class="row-fluid">
			<div class="col-md-6 main-col text-center">	
				<h1>Easy access, SWEET sharing !</h1><hr>
				<p>JobXHunter is right in your browser, whatever it can be ! </p>
				<p><a href="#mainregbutton" class="btn btn-success" role="button">Register now !</a>
			</div>
			<div class="col-md-6 main-col text-center">	
				<h1>Tons of EXQUISITE features !</h1><hr>
				<p>We provide a lot of cool features to make the experience fast, fun and rich !</p>
				<p><a href="#mainregbutton" class="btn btn-success" role="button">Register now !</a>
			</div>
			<div class="col-md-6 main-col text-center">	
				<h1>Easy access, SWEET sharing !</h1><hr>
				<p>JobXHunter is right in your browser, whatever it can be ! </p>
				<p><a href="#mainregbutton" class="btn btn-success" role="button">Register now !</a>
			</div>
		</div>
</div>