.navbar {
	margin-bottom: 0;
}

body {
	background-image: url('./img/background.jpg');
}

#register {
	color: white;
	min-height: 200px;
	margin-top: 0;
}

.main {
	background-color: rgba(255, 255, 255, 0.7);
	padding-bottom: 20px;
}

#navLogin  {
	color: #852A2A;
}

footer {
	background-color: #272822;
	color: white;
	min-height: 200px;
}

.main-content {
	background-color: rgba(255, 255, 255, 0.7);
	min-height: 800px;
}

#profil-info {
	background-color: rgba(0, 0, 0, 0.5);
}

.catch {
	padding-top: 160px;
}

#bio {
	float: right;
	color: white;
}

#bio h2{
	color: #BF0000;
}

#profil_edit_btn {
	float: right;
}

.searchResult {
	border: 1px solid black;
	background-color: rgba(255, 255, 255, 0.7);
	margin: 5px 0px 5px 10px;
	padding: 10px 0px 10px 0px;
}

footer {
	padding-top: 50px;
}

.item {
	height: 500px;
}
